cal-event-view-external(ng-if="!ctrl.error" event-jcal="ctrl.eventJcal" attendee-email="ctrl.attendeeEmail" links="ctrl.links")
cal-event-external-error-display(ng-if="ctrl.error" error="ctrl.error")
